.first {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: 1s;
}

.first:hover {
    transform: scale(2) translate(100px, 100px) rotate(45deg);
    width: 200px;
    background-color: green;
}